# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
.env.local
.env.production

# Jest HTMLレポートの添付ファイル
html-report/
html-report/jest-html-reporters-attach/jest_html_reporters/result.js

/generated/prism
tsconfig.tsbuildinfoa
backend/prisma/dev.db
*.sqlite

schema.prisma

# Prisma generated client（生成物）
/backend/generated/prisma/
# local sqlite db
/backend/prisma/dev.db
# backend env
/backend/.env

generated/
node_modules/
dist/
backend/prisma/sqlite/prisma/dev.db

how-to-build-cicd.md

